{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>:: MECH B</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_home.css' %}">
</head>
<body>
    <p id="home_title">FOREVER MECHANICAL ENGINEERING</p>
    
    <div class="to_genealogy">
    <a id="to_genealogy" href="{% url 'genealogy:genealogy_list' %}">Download Genealogy</a>
    <hr>

        <div class="gen_content">
        <p> content1</p>
        <p> content2</p>
        <p> content3</p>
        </div>
    </div>

    <div class="to_board">
    <a id="to_board" href="{% url 'board:post_list' %}">GUEST BOOK</a>
    <hr>

        <div class="board_content">
        <p> content1</p>
        <p> content2</p>
        <p> content3</p>
        </div>
    </div>

    <div class="blank"></div>
    <button type="button" id="nav-btn">
        <img id="nav-img" src="{% static 'img/navIcon.png' %}" alt="btnImages">
    </button>

    <div id="side-bar">
        <div><a href="{% url 'account:home_view' %}"  class="side-menu">Home</a>
        <div class="side-menu"><a href="{% url 'genealogy:genealogy_list' %}" class="first-side-menu">DOWNLOAD GENEALOGY</a>
        </div><div><a href="{% url 'board:post_list' %}"  class="side-menu">GUEST BOARD</a>
        </div><p class="side-menu">MY POST</p>
        <p class="side-menu">MY INFO</p>
        <div><a href="{% url 'account:logout' %}"  class="side-menu">LOGOUT</a>
        </div>
    </div>
</body>
<script src="{% static 'static/js/navbtn.js' %}"></script>
</html>