{% load static %}

<head>
    <meta charset="utf-8">
    <title>:: MECH B</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_base.css' %}">
</head>

<body>
    <div class="page-header">
        <h1><a id="login_title" href="{% url 'account:login_pg' %}">Hi, Mechanical Engineer!</a></h1>
    </div>

    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content%}
                {% endblock %}
            </div>
        </div>
    </div>
</body>