{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>:: STEAMS BLOG</title>
    <link rel="stylesheet" type="text/css" href="{% static '../../../myboard/static/post_list.css' %}">
</head>
<body>
    <h2 id="listTitle">Postt List</h2>
    <span>
        <a href="{%url 'blog:post_archive'%}">아카!</a>
    </span>

    <p>
        {% for post in posts %}
        <h3><a href="{ post.get_absolute_url}">{{post.title}}</a></h3>
        {{post.mod_date | date:"N d, Y"}}
    {% endfor %}
    </p>
    <br>
    <div>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous page</a>
        {% endif %}

        Page {{ page_obj.numbeer}} of {{ page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
        <a href="?page={{page.obj.next_page_number">Next page</a>
        {%endif%}
    </div>
</body>