{% extends 'base.html' %}
{% load static %}


{% block content %}    
        {% for post in posts %}
        <div class="title">
            <h3><a href="{% url 'board:post_detail' pk=post.pk %}">&emsp;&emsp;&ensp;{{post.title}}</a></h3>
        </div><span class="author">
            <span>&emsp;&emsp;&emsp;&emsp;{{post.author}}, </span>
        </span><span class="date">
            <span>&emsp;{{post.pub_date | date:"N d, Y"}}</span>
        </span><div class="content">
            <p>{{post.content|linebreaksbr}}</p>
        </div>
        <br><hr class="list-hr"><br><br>
        {% endfor %}
{% endblock %}