{% load static %}

<head>
    <meta charset="utf-8">
    <title>:: STEAMS BLOG</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="page-header">
        <h1><a href="{% url 'blog:PostLV' %}">Steams Blog</a></h1>
    </div>
    <br>
    <br>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            <h3>It is not yout post...</h3>
            </div>
        </div>
    </div>
</body>