{% load static %}

<head>
    <meta charset="utf-8">
    <title>:: STEAMS BLOG</title>
<!--    <link rel="stylesheet" type="text/css" href="../../static/post_list.css">
--><link rel="stylesheet" href="{% static 'css/post_list.css' %}">
</head>
<body>
    <h2 id="listTitle">Steams Blog</h2>
    <span>
        <a href="{%url 'blog:post_archive'%}">아카!</a>
    </span>

    <div>
        {% for post in posts %}
            <h3><a href="{ posts.get_absolute_url}">{{post.title}}</a></h3>
            <p>{{post.mod_date | date:"N d, Y"}}</p>
            <p>{{post.content|linebreaksbr}}</p>
        {% endfor %}
    </div>

    <br>
    <div>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous page</a>
        {% endif %}

        Page {{ page_obj.numbeer}} of {{ page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
        <a href="?page={{page.obj.next_page_number">Next page</a>
        {%endif%}
    </div>
</body>